body{
    
    background-color: aqua;
    
    

}
h1{
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0.5rem;
    background-color: blanchedalmond;
}

div{
    background-color: rgb(170, 96, 238);
    align-content: center;
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    align-self: center;
   
}

.ar{
    height: 300px;
    width: 300px;
    background-image: url("https://fossunited.org//files/fu.png");
}
